# Ignore hidden files
.*

# Add git configurations
!.gitignore
!.gitlab-ci.yml
!.gitattributes

# Ignore latex build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex
*.synctex.gz
*.toc
*.lol
*.lof
*.lot
*.loe

# Ignore xelatex build files
*.xdv


# Ignore MacOS system data
*.DS_Store

# Ignore VIM editor files
*.swp
*.swo

# Ignore TikzEdt helper files
*.preview.tex
*.preview_BB.txt

# Ignore Latexian (MacOS) helper files
*LatexianTemp*

# Ignore eps plots from MATLAB export
*.eps

# Ignore nomenclature files
*.ilg
*.nlo
*.nls

# Ignore breamer helper files
*.nav
*.snm
*.vrb

# Ignore svg files
*.svg

# Ignore python cache files
*.pyc

# Ignore build
build*/*
*.mod
*.o

# Ignore work in progress folder
.wip/*

# Ignore vs code configuration
*/.vscode/*
.vscode/*
*/ignored/*

# Ignore cpplint configuration files
CPPLINT.cfg

# ignore publishing yelp dataset
experiments/yelp/data/raw/csv/yelp_academic_dataset_business.csv
experiments/yelp/data/raw/csv/yelp_academic_dataset_user.csv
experiments/yelp/data/raw/csv/yelp_academic_dataset_review.csv
experiments/yelp/data/raw/json/yelp_academic_dataset_business.json
experiments/yelp/data/raw/json/yelp_academic_dataset_user.json
experiments/yelp/data/raw/json/yelp_academic_dataset_review.json
experiments/yelp/data/intermediate/yelp_db.sqlite
experiments/yelp/data/intermediate/processed_review_data.csv
